<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<!-- Dependencies and beans -->
	<bean id="whats-recovery"
		class="spring.laila.arch.di.constructor.RecoveryResponsability">
	</bean>

	<bean id="insta-recovery"
		class="spring.laila.arch.di.setter.RecoveryResponsability">
	</bean>

	<bean id="face-management"
		class="spring.laila.arch.di.constructor.DataManagementResponsability">
	</bean>

	<bean id="link-management"
		class="spring.laila.arch.di.setter.DataManagementResponsability">
	</bean>

	<bean id="whats"
		class="spring.laila.arch.di.constructor.WhatsAdmin">
		<!-- Constructor-based dependency injection -->
		<constructor-arg ref="whats-recovery" />
	</bean>

	<bean id="face"
		class="spring.laila.arch.di.constructor.FacebookAdmin">
		<!-- Constructor-based dependency injection -->
		<constructor-arg ref="face-management" />
	</bean>

	<bean id="insta"
		class="spring.laila.arch.di.setter.InstagramAdmin">
		<!-- Setter-based dependency injection -->
		<property name="responsability" ref="insta-recovery" />
		<!-- Literal values -->
		<!-- <property name="idUser" value="55"></property> -->
		<property name="idUser" value="${user.id}"></property>
	</bean>

	<bean id="link" class="spring.laila.arch.di.setter.LinkedinAdmin">
		<!-- Setter-based dependency injection -->
		<property name="responsability" ref="link-management" />
	</bean>
	
	<!-- Reference the properties file -->
	<context:property-placeholder location="classpath:user.properties"/>
</beans>